:root {
  --body-bg: #6cc3f9;
  --text-color: #6e8091;
  --btn-color: #7bea7b;
  --border-color: #000000;
}

[theme="dark"] {
  --body-bg: #333333;
  --text-color: #e6e6e6;
  --btn-color: #847f7f;
  --border-color: #d9d9d9;
}
