@import "styles/colors";
.wrapper {
  width: 100%;
  position: relative;

  &__buttons {
    right: 0;
    height: 100%;
    position: absolute;

    &__btn {
      cursor: pointer;
      min-width: 50px;
      height: 100%;
      background: gray;
      border: none;
    }

    &__btn__first {
      transform: rotate(180deg);
    }
  }

  &__input {
    width: 100%;
    background: transparent;
    height: 48px;
    color: aliceblue;
    font-size: 16px;
    padding: 10px;
    border: 1px solid $border-color;

    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}

button {
  width: 40px;
  height: 40px;
}
